body{
  margin: 0%;
}
.navbar ul {
  margin-top: 21px;
  overflow: auto;

}
.navbar{
  margin: -15px -9px;
  padding: 1px 0px;
  background-color: #201f1d;
  /* #e87004 */
  /* #e87004 */
  
}
.navbar li{
  float: left;
  list-style: none;
  
}
.navbar a{
  padding: 1px 9px;
  text-decoration: none;
  color: rgb(218, 211, 211);
  font-size: 18px;
}
.navbar a:hover {
  color: white;

}
.heading{
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 15px -8px;
  margin-top: -7px;
}
.card{
  text-align: center;
  margin: 15px 14px;
  padding: 1px 25px;
  border-style: groove;
  border-width: 1px;
  background-color: white;
  border-radius: 15px;
  border-color: black;
  height: fit-content;
  width: 400px; 
}
.card img{
  border-radius: 6px;
  border: 1px;
  border-color: black;
  border-style: groove;
  border-radius: 15px;
  margin: 12px -4px;
  float: inline-end;
}
.card div{
  text-align: left;
  float: left;
}
.card:hover{
  background-color: whitesmoke;
  border-color: black;
  border-width: 1px;
  border-style: groove;
  
}
.card a{
  text-decoration: none;
  color: black;
}
.flex-container {
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap ;
  align-content: space-between;
  /* justify-content: space-between; */
  background-color: #f0f0f5;
  margin: 0%;
}
.hero_css{
  border-style: groove;
  border-radius: 15px;
  margin: 50px 9px;
  background-color:  #f0f0f5;
}
.hero_css h1{
  background-color: aqua;
  text-align: center;
}
.hero_css p{
  margin: 29px 34px;
}