
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
  padding: 0px 0px;
  margin: 0px 0px;
  box-sizing: border-box;
}

html,body{
  width: 100vw;
  height: 100vh;
}


nav{
  display: flex;
  background-color: #4c3336
}

nav > ul{
  display: flex;
  list-style-type: none;
  margin: 20px 30px;
}

nav > :last-child{
  margin-left: auto;
}

nav ul li {
  margin: 0px 20px;
}

nav ul li a{
  text-decoration: none;
  color : #c3c3c3;
  
}

.hero{
  background-color:#725035;
  height: 500px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  
}

.hero :first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero > div > p {
  font-family: "Dancing Script", cursive;
  color: #efbead;
  font-size:70px;
}
.hero > div > :last-child{
  font-family: "Cactus Classical Serif", serif;
  color:#f4eef0;
  font-size: 20px;
  margin-top: 30px
}

.hero > :last-child{
  height :500px;
  overflow :hidden;
}

.hero > :last-child > img{
  width: 400px;
}